/* DINNeuzeitGrotesk */
@font-face{
  font-family:"DINNeuzeitGrotesk";
  src: url("../fonts/DINNeuzeitGrotesk.woff2") format("woff2");
}

/* Belinda */
@font-face{
  font-family:"Belinda";
  src: url("../fonts/Belinda.woff2") format("woff2");
}

/* Jockey One */
@font-face {
  font-family: "Jockey One";
  src: url("../fonts/JockeyOne.woff2") format('woff2');
}

/* Lulo Clean */
@font-face{
  font-family:"Lulo Clean";
  src: url("../fonts/LuloClean.woff2") format("woff2");
}
