/* CSS ALL-DEFAULT */
body, html {
    height: 100%;
    margin: 0px;
}

.barra-sup, .barra-inf {
    width: 100%;
    height: 54px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.barra-sup-texto, .barra-inf-texto {
    letter-spacing: 0.05em;
    color: #E8E8E8;
    font: normal normal normal 16px/1.4em DINNeuzeitGrotesk;
    vertical-align: top;
    line-height: 54px;
    margin: 0px;
}

.barra-inf {
    height: 74px;
    background: #0d1e47;
}

.barra-inf-texto {
    line-height: 74px;
}

::selection {
	  background: rgba(255, 255, 255, 0.28);
}

/* CSS MENU */
.menu {
    top: 84px;
    right: 90px;
    position: fixed;
    z-index: 50;
    height: 25px;
    text-align: left;
}

.item-menu {
    font: normal normal normal 18px/1.4em DINNeuzeitGrotesk;
    height: 25px;
    text-decoration: none;
    padding: 0 10px;
    color: #2F2E2E;
    transition: color 0.4s ease 0s;
}

.item-menu:hover {
    color: #706D6D !important;
}

.item-selecionado {
    color: #706D6D !important;
}

.frame {
    width: 100%;
    height: 100%;
}

/* CSS HOME */
.home {
    height: calc(100% - 55px) !important;
    background-size: cover;
    background-position: center 0;
    background-image: url("../imagens/home.png");
}

.logo {
    padding-top: 45px;
    text-align: center;
}

.logo img {
    height: 100px;
    transform: rotate(3deg);
}

.logo-text {
    font: normal normal normal 30px/1.3em Lulo Clean, script;
    color: #000000;
    text-decoration: none;
}

.tag-text {
    font: normal normal normal 23px/1.0em Belinda, script;
    color: #000000;
    text-decoration: none;
}

.slogan {
    padding-top: 55px;
    text-align: right;
    width: 30%;
    margin-left: 50%;
}

/* CSS SOBRE NÓS */
.sobreNos img {
    float: right;
    width: 450px;
    margin-top: calc(50% - 650px);
    margin-right: 110px;
}

.descricao {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    margin-left: 10%;
}

.descricao .tag-text {
    color: #0e1e47e3;
}

.descricao-text {
    font: normal normal normal 25px/1.4em DINNeuzeitGrotesk;
    color: #000000;
    text-decoration: none;
    text-align: justify;
}

.quadros {
    margin: 30px 9%;
    display: -webkit-inline-box;
}

.sobreNos-quadro {
    margin-left: 2%;
    width: 29%;
    text-align: justify;
    margin-bottom: 50px;
    font: normal normal normal 20px/1.4em DINNeuzeitGrotesk;
    color: #000000;
    text-decoration: none;
}

.sobreNos-quadro img {
    float: none;
    width: 120px;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: calc(50% - 60px);
    margin-right: 0;
}

.sobreNos-quadro h1 {
    text-align: center;
    font: normal normal normal 20px/1.4em Lulo Clean;
    letter-spacing: -0.18em;
    color: #0e1e47e3;
}

/* CSS PORTFOLIO */
.portfolio {
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
    background-image: url("../imagens/portfolio.png");
}

.portfolio-titulo {
    letter-spacing: -0.18em;
    font: normal normal normal 90px/1.4em Lulo Clean;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    transition: all 0.3s ease;
}

.portfolio-subtitulo {
    font: normal normal normal 53px/1.4em Belinda;
    margin: 0px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 85px;
    transition: all 0.3s ease;
}

.projetos {
    margin: 30px 9%;
    display: -webkit-inline-box;
}

.projeto {
    border: 10px solid #fff;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 2%;
    width: 29%;
    text-align: center;
}

.projeto img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.overlay {
	display: none;
}

.text {
    color: #000000;
    font: normal normal normal 20px/1.4em DINNeuzeitGrotesk;
}

.legenda {
    color: #000000;
    font: normal normal normal 20px/1.4em DINNeuzeitGrotesk;
}

/* CSS CONTATO */
.localizacao {
    margin-top: 30px;
    height: 250px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
}

.contato-titulo {
    letter-spacing: -0.18em;
    font: normal normal normal 50px/1.4em Lulo Clean;
    color: #0d1e47;
    text-align: center;
    padding-top: 5%;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

.redes-sociais {
    width: 15%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 35px;
}

.redes-sociais a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.redes-sociais img {
    max-height: 100%;
    max-width: 100%;
    margin-left: 3px;
}

.redes-sociais img:hover {
    background: rgba(255, 255, 255, 0.28);
    filter: blur(1px);
}