@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

body, html {
    font-family: 'Maven Pro', sans-serif;
    background: #FAFAFA;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4em;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}

h1 {
    color: #FFFFFF;
    font-weight: 500;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 66px;
}

header .container {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 30px;
}

header .logo-container {
    float: left;
    display: block;
    width: 50px;
    padding-left: 20px;
}

header .logo-container img {
    width: 100%;
    transition: 0.5s ease-in-out;
}

header .mobile-menu {
    background: none;
    position: relative;
    top: auto;
}

header .mobile-menu {
    position: absolute;
    z-index: 9999;
    top: -800px;
    right: 0;
    left: 0;
    width: 100%;
    display: block;
    background: white;
    -webkit-transition: top 0.5s ease-in-out;
    -moz-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}

header .mobile-menu {
    background: none;
    position: relative;
    top: auto;
}

header .mobile-menu .mobile-menu-header {
    background: #0C2134;
    height: 66px;
}

header .mobile-menu .mobile-menu-header {
    display: none;
}

header nav {
    width: 100%;
    float: right;
    background: #0C2134;
}

header nav {
    width: 70%;
    background: none;
    padding-right: 20px;
}

header.hamburguer-expanded nav {
    width: calc(100% - 25px);
    padding-right: 0;
    font-size: 2em;
}

header.hamburguer-expanded nav:first-child li a {
    margin: 0;
    margin-top: 35px !important;
}

header.hamburguer-expanded nav:first-child li {
    width: 100%;
    text-align: left;
}

header nav .menu-high-alpha-menu-container::after {
    clear: both;
    content: "";
    display: table;
}

header nav ul {
    float: right;
    display: block;
    margin: 12px 0 0 0;
}

header.hamburguer-expanded nav ul {
    margin: 70px 0 0 0;
}
      
header nav ul:hover li a {
    color: rgba(255, 255, 255, 0.8);
}

header nav ul:hover li a {
    color: rgba(255, 255, 255, 0.2);
}
    
header nav:first-child li {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
}
      
header nav:first-child li:hover {
    color: #FFFFFF;
    border-radius: 6px 6px 0px 0px;
}

header nav:first-child li:hover a {
    opacity: 1;
}
        
header nav:first-child li:hover .sub-menu {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
    transform: translate(0, 0);
}
      
header nav:first-child li {
    width: auto;
    color: #FFFFFF;
}
      
header nav:first-child li:first-child a {
    margin-left: 0;
}

header nav:first-child li a {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
    color: #FFFFFF;
    padding: 15px 0px;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

header nav:first-child li a {
    font-weight: 300;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 0;
    margin: 0 0 0 15px;
}

header nav:first-child li a:hover {
    color: white !important;
}

header nav:first-child li a:last-child {
    margin-right: 0;
}
              
header nav:first-child li a {
    margin: 0 0 0 30px;
}

header .hambuguer-menu .container {
    display: inline-block;
    cursor: pointer;
}

.hambuguer-menu {
    float: right;
    padding-right: 20px;
    display: none;
    transition: all 0.6s ease-in-out;
}

.bar1 { width: 18px; }

.bar2 {
    width: 15px;
    margin-left: 3px !important;
}

.bar3 {
    width: 10px;
    margin-left: 8px !important;
}
 
.bar1, .bar2, .bar3 {
    height: 2px;
    background-color: #FFFFFF;
    margin: 5px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(1px, 0px);
    transform: rotate(-45deg) translate(1px, 0px);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-15px, -7px);
    transform: rotate(45deg) translate(-15px, -7px);
    width: 18px;
}

.changeBody {
    margin-right: 300px;
    margin-left: calc(0% - 300px);
    transition: all 0.5s ease-in-out;
}

.changeBody, .changeHTML {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.changeBody .logo-container img {
    margin-left: -300px;
    transition: all 0.5s ease-in-out;
}

.changeBody .hambuguer-menu {
    padding-right: 250px;
    transition: all 0.6s ease-in-out;
}

nav ul, nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

.hamburguer-expanded {
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 300px;
    right: 0;
    left: calc(100% - 300px);
    z-index: -1;
    background: -webkit-linear-gradient(90deg, #0c2134, #0c2134e8);
    background: linear-gradient(90deg, #0c2134, #0c2134e8);
    transition: all 0.5s ease-in-out;
}

.changeBody .hamburguer-expanded {
    right: 0;
    transition: all 0.5s ease-in-out;
}

.icon {
    z-index: 99999;
    position: absolute;
    display: block;
    padding: 9px;
    height: 42px;
    width: 42px;
    margin: 0px;
    top: 17px;
    right: 23px;
}

a {
    text-decoration: none;
    color: #efc461;
    outline: 0 !important;
}

header a {
    margin-top: 20px !important;
}

section.section-home {
    padding-top: 140px;
    background: #0C2134;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(#0c2134b0, #0c2134e0), url(../images/back.jpg);
    overflow: hidden;
    position: relative;
}

section.section-home:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 200px;
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    background: #FAFAFA;
}

section.section-home .slogan {
    padding: 40px 0 0 0;
}

section.section-home .container {
    width: 100%;
    max-width: 1024px;
    padding: 0 20px;
}

section.section-home h1 {
    text-align: left;
    letter-spacing: -.03em;
    line-height: 1.2em;
    margin: 0 auto;
    font-size: 4em;
    width: 60%;
}

section.section-home h3 {
    width: 55%;
    margin-left: 20%;
    font-weight: 100;
    line-height: 1.5em;
    color: #FFFFFFCF;
}

section.section-servicos {
    padding: 0 0 50px 0;
}

section.section-servicos .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

section.section-servicos .container-exp {
    display: block;
    margin-left: 50%;
    width: 50%;
}

.container-exp h2 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 500;
    text-align: right;
    color: #0C2134;
    letter-spacing: -.03em;
    margin: 0;
    overflow: hidden;
}

.marquee {
    color: #C7BB7B;
    font-size: 1.25em;
    line-height: 1.2em;
    text-align: right;
    font-weight: 500;
    margin: 0;
}

.desc {
    display: flex !important;
}

.desc .line {
    height: 6px;
    display: block;
    margin-left: 0%;
    margin: 25px 0 0 20px;
}

.desc p {
    margin-right: 0;
    text-align: right;
    margin-top: 15px;
    display: block;
    width: calc(100% - 100px);
    line-height: 1.5em;
    font-size: 1.25em;
    color: #0C2134;
}

.line {
    width: 80px;
    height: 3px;
    background: -webkit-linear-gradient(90deg, rgb(22, 135, 237), rgb(28, 108, 255));
    background: linear-gradient(90deg, rgb(22, 135, 237), rgb(28, 108, 255));
    margin: 20px 0 200px 0;
    margin-left: 20%;
}

.container-servicos {
    height: 300px;
    display: flex;
}

.container-servicos img {
    height: inherit;
    width: 50%;
    object-fit: cover;
}

.conteudo {
    width: calc(100% - 45px);
    color: #0C2134;
    margin: auto 100px;
}

.conteudo h3 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: -.03em;
    margin: 0;
    overflow: hidden;
}

.conteudo .line {
    margin: 20px 0 0 0 !important;
    margin-left: 0 !important;
}

.up-margin {
    max-width: 100% !important;
    margin: 30px 0 0 0 !important;
}

section.section-portfolio {
    background: #0C2134;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(#0c2134b0, #0c2134e0), url(../images/back.jpg);
    position: relative;
    padding: 0 0 50px 0;
}

section.section-portfolio:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 200px;
    -webkit-clip-path: polygon(0 0%, 100% 0, 0% 100%, 0 0%);
    clip-path: polygon(0 0%, 100% 0, 0% 100%, 0 0%);
    background: #FAFAFA;
}

section.section-portfolio .container {
    padding-top: 250px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

section.section-portfolio .container-exp {
    display: block;
    width: 50%;
}

section.section-portfolio .marquee {
    text-align: left !important;
}

section.section-portfolio .container-exp h2, section.section-portfolio .desc p {
    text-align: left !important;
    color: #FFFFFF !important;
}

section.section-portfolio .desc .line {
    margin: 25px 20px 0 0 !important;
}

section.section-portfolio .container:hover .love {
    color: red !important;
}

section.section-portfolio .marquee:hover .hover-off, .hover-on {
    display: none;
}

.hover-off, section.section-portfolio .marquee:hover .hover-on {
    display: contents;
}

.love {
    font-size: 17px;
}

.container-portfolio {
    margin-top: 50px !important;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    font-size: 1.4em;
}

.grid__item img, .grid__item .descricao {
    cursor: pointer;
}

.grid__item .descricao {
    font-size: 0.8em;
    font-weight: 500;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #0C2134;
    opacity: 0;
    padding: 10px 20px;
    z-index: 2;
    background: -webkit-linear-gradient(90deg, rgb(22, 135, 237), rgb(28, 108, 255));
    background: linear-gradient(90deg, rgb(22, 135, 237), rgb(28, 108, 255));
}

.grid__item .descricao p {
    color: #FFFFFF;
    text-align: left;
    margin: 1em 0;
}

.grid__item .descricao .link {
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: #FFFFFF;
    font-weight: 600;
}

.grid__item .descricao .link span {
    display: inline-block;
    margin-left: 5px;
}

.grid__item .descricao .link span img {
    top: 2px;
    position: absolute;
}


.grid__item:hover .descricao {
    opacity: 1;
}

section.section-sobreNos {
    padding: 100px 0;
}

section.section-sobreNos .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 30px !important;
}

section.section-sobreNos .container-exp.desc p {
    width: 100% !important;
}

section.section-sobreNos .container .marquee, section.section-sobreNos .container h2, section.section-sobreNos .container-exp.desc p {
    text-align: center;
}

section.section-sobreNos .container .container-exp.desc {
    display: block !important;
}

section.section-sobreNos .container-exp.desc .line {
    margin: 25px auto 0 auto;
}

.container-sobreEmpresa, .container-estatisticas, .container-equipe {
    color: #0C2134;
    margin-top: 80px !important;
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container-sobreEmpresa p {
    width: 50%;
}

.container-sobreEmpresa .slider {
    width: 40%;
    margin: 0 auto;
}

.container-sobreEmpresa .slider img {
    height: 250px;
    object-fit: cover;
}

.container-sobreEmpresa p {
    margin: 10px 20px 0 20px;
}

.container-estatisticas {
    margin-top: 0 !important;
}

.container-estatisticas .estatistica {
    width: 180px;
    margin: 0 auto;
    height: auto;
    margin-top: 20px !important;
}

.separador {
    display: flex;
    width: 45%;
}

.container-estatisticas .estatistica p.numero {
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    text-align: right;
}

.container-estatisticas .estatistica p.descricao {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
}

.container-estatisticas .estatistica p.descricao span {
    font-size: 20px;
    margin-left: -15px;
    font-weight: 700;
}

.container-equipe {
    padding: 0 20px;
    display: block;
}

section.section-sobreNos .container-equipe .container {
    margin-bottom: 0 !important;
}

.container-equipe .line {
    margin: 25px 0 0 0 !important;
}

.container-equipe h2 {
    text-align: left !important;
    font-size: 3em;
}

@media only screen and (max-width: 910px) {
    body {
        font-size: 12px;
    }

    .container-sobreEmpresa .slider img {
        height: 200px;
    }
}

@media only screen and (max-width: 690px) {
    body {
        font-size: 10px;
    }

    .container-sobreEmpresa .slider img {
        height: 150px;
    }
}

@media only screen and (max-width: 830px) {
    .separador {
        display: block;
    }
}

@media only screen and (max-width: 490px) {
    .container-estatisticas .estatistica p.numero {
        font-size: 30px;
        line-height: 30px;
    }

    .container-estatisticas .estatistica p.descricao span {
        font-size: 12px;
    }

    .container-estatisticas .estatistica.especial {
        width: 170px !important;
    }

    .container-estatisticas .estatistica {
        width: 130px;
    }
}

@media only screen and (max-width: 580px) {
    section.section-home h1 {
        font-size: 3em;
        width: 80%;
    }

    section.section-home h3, .line {
        margin-left: 10%;
    }

    .hambuguer-menu {
        display: block;
    }

    header .logo-container {
        width: 40px;
    }

    header nav ul {
        display: none;
    }

    header.hamburguer-expanded nav ul {
        display: block;
    }

    header .container {
        padding-top: 0px;
    }

    .hambuguer-menu {
        padding-top: 35px;
    }

    section.section-servicos .container-exp, section.section-portfolio .container-exp {
        width: calc(100% - 50px);
        margin-left: 25px !important;
    }

    .grid__item:hover .descricao {
        opacity: 0 !important;
    }

    .container-sobreEmpresa .slider {
        width: 90%;
    }

    .container-sobreEmpresa {
        display: block;
    }

    .container-sobreEmpresa p {
        padding: 10px 20px 0 20px;
        margin: 10px 0 0 0;
        width: calc(100% - 40px);
        text-align: center;
    }
}

@media only screen and (max-width: 1100px) {
    section.section-servicos .container-exp  {
        margin-left: calc(50% - 25px);
    }

    section.section-portfolio .container-exp {
        margin-left: 25px;
    }

    .container-servicos .conteudo {
        margin: auto 50px;
    }

    .container-servicos img {
        display: none;
    }

    .container-servicos {
        height: auto;
        margin-top: 20px;
    }
}


.items {
    padding: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 8px;
}

.items::-webkit-scrollbar {
    display: none;
}

.items li {
    flex: 0 0 auto;
    position: relative;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
    list-style: none;
    width: 204px;
    height: 308px;
    background-color: black;
    transition-duration: .5s;
    overflow: hidden;
    cursor: pointer;
}

.items-membros, .items-diretoria {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

.items li:first-child {
    margin-left: 0;
}

.items li:last-child {
    margin-right: 0;
}

.items li .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
}

.social-icons img {
    height: 35px;
}

.items li .social-icons {
    opacity: 0;
    transform: translateY(-100%) translateX(0%);
    transition-duration: 1s;
    position: absolute;
    width: 100%;
    display: flex;
    padding-top: 15px;
    background: linear-gradient(#0C2134BF, transparent);
}
		
.items li:hover {
    transition-delay: .5s;
    width: 270px;
    margin-top: 0;
    margin-bottom: 0;
    height: 408px;
}

.items li:hover .social-icons {
    transform: translateY(0) translateX(0%);
    transition-delay: .75s;
    opacity: 1;
}

.items li:hover .content {
    transform: translateY(0) translateX(-50%);
    transition-delay: .75s;
    opacity: 1;
}
		
.items li .content {
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
}
			
.items li .content {
    background: linear-gradient(transparent, #0C2134BF);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    transition-duration: 1s;
    opacity: 0;
    padding: 40px 10px 10px 10px;
    width: 400px;
}

.items li .content h2 {
    font-weight: 300;
    color: white;
    font-size: 30px;
}

.grid {
	position: relative;
	z-index: 2;
	display: block;
	margin: 0 auto;
}

.social-icons a:first-child {
    margin-left: auto;
    margin-right: 5px;
}

.social-icons a:last-child {
    margin-left: 5px;
    margin-right: auto;
}

.grid--hidden {
	position: fixed !important;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
	opacity: 0;
}

.grid__sizer {
	margin-bottom: 0 !important;
}

.grid__img {
	display: block;
	width: 100%;
}

.grid__deco {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
}

.grid__deco path {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2px;
}

.grid__reveal {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background-color: #2c2d31;
}

.grid .grid__item,
.grid .grid__sizer {
	width: calc(50% - 20px);
    margin: 0 10px 20px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,.15);
}

@media screen and (min-width: 60em) {
	.grid .grid__item,
	.grid .grid__sizer {
		width: calc((100% / 3) - 20px);
		margin: 0 10px 20px;
	}
}

@media screen and (min-width: 70em) {
	.grid--type-b .grid__item,
	.grid--type-b .grid__sizer {
		width: calc(20% - 20px);
		margin: 0 10px 20px;
	}
}
